* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
	height: 70px;
	/* background: #500000; */
	background: #101010;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	/* padding: 0rem calc((100vw - 1300px) / 2); */
	padding: 0 1rem;
	position: relative;
}

.menu-thing {
	/* margin-left: auto; */ /* Pushes the menu to the right */
	/* margin-left: 0; */
	display: none;
}

.logo {
	color: #FFFFFF;
	/* color: #CC3333; */
	font-size: 1rem;
	font-weight: bold;
	font-style: italic;
	/* padding: 0 2rem; */
	margin-right: auto;
}

.nav-items {
	display: flex;
	list-style-type: none;
}

.nav-items li {
	position: relative;
	margin: 0 1rem;
}

nav a {
	text-decoration: none;
	color: #FFFFFF;
	/* color: #CC3333; */
	padding: 0 1.5rem;
}

.mobile-menu-button {
	background: none;
	border: none;
	/* color: white; */
	color: #FFFFFF;
	/* color: #CC3333; */
	font-size: 1.5rem;
	cursor: pointer;
	display: block;
}

/* Desktop view (screen width > 768px) */
@media screen and (min-width: 768px) {
	.mobile-menu-button {
        display: none; /* Hide the menu button on desktop */
    }
    .menu-thing {
        display: block; /* Show the full menu on desktop */
    }
    .dropdown {
        display: none;
    }
    .nav-items li:hover .dropdown {
        display: block; /* Show dropdown on hover for desktop */
    }
}

/* Mobile view (screen width <= 768px) */
@media screen and (max-width: 768px) {
	.mobile-menu-button {
		background: none;
		border: none;
		/* color: white; */
		/* color: #CC3333; */
		color: #FFFFFF;
		font-size: 1.5rem;
		cursor: pointer;
		display: block;
		outline: none;
		-webkit-tap-highlight-color: transparent;
		padding: 0;
		margin: 0;
		margin-right: 15px;
	}
	.mobile-menu-button:focus,
	.mobile-menu-button:active {
		outline: none;
		background: none;
	}
	.mobile-menu-button:hover {
		color: #FFD700;
	}
    .menu-thing {
        display: block;
        position: absolute;
        top: 70px;
        left: 60%;
        width: 40%;
		background-color: #151515;
        text-align: left;
        display: none; /* Hidden by default */
    }
    .menu-thing.show {
        display: block; /* Show menu when activated */
    }
    .nav-items {
        flex-direction: column;
        padding: 0;
    }
    .nav-items li {
        margin: 0;
    }
    .nav-items li a {
        padding: 1rem;
        display: block;
        width: 100%;
    }
    .dropdown {
        position: relative;
    }
    .dropdown ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
    }
    .dropdown.show ul {
        display: block;
    }
	.hero {
		width: 100%;
	}
	.hero-container {
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	.column-left {
		width: 100%;
	}
	.image_one {
		width: 100%;
		max-width: 50vw;
		height: auto;
	}
}

.mobile-menu-button:focus {
    /* outline: 2px solid #FFD700; /* Add a custom focus style (gold outline) */
	outline: none;
    outline-offset: 2px;
}

nav a:hover {
	color: #fff;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 260%;
	/* background-color: #222; */
	background-color: #555;
	width: 200px;
}

.dropdown ul {
	display: block;
	margin: 10px;
	padding: 0;
	list-style: none;
}

.dropdown ul li {
	margin: 0;
	padding: 0;
}

.dropdown ul li a {
	display: block;
	padding: 10px 15px;
	color: #FFFFFF;
	text-decoration: none;
}

.dropdown ul li a:hover {
	background-color: #000;
}

.nav-items li:hover .dropdown {
	display: block;
}

.nav-item li.show .dropdown {
	display: block;
}

.hero {
	/* background: #101020; */
	/* background-image: linear-gradient(#101020, #202030); */
	width: 100%;
}

.hero-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* height: 95vh; */
	/* height: max(calc((100vw - 1500px) / 2), 600px); */
	padding: 3rem calc((100vw - 1500px) / 2) 0rem;
	/* 3rem is for the top and bottom */
	/* The calculation is for the sides */
	/* The number int (Xpx) controls the width of the two columns */
}

.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: flex-start; */
	align-items: center;
	text-align: center;
	/* color: #FFF; */
	color: #000;
	/* text-shadow: 10px 10px 10px #000000; */
	/* text-shadow: 
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; */
	/* color: #000; */
	padding: 0rem 2rem;
	/* background-color: #BBBBBB; */
	background-color: none;
	/* border-top: 6px solid #000; */
	/* border-right: 3px solid #000; */
	/* border-bottom: 6px solid #000; */
	/* border-left: 6px solid #000; */
}

.column-left h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
}

.column-left p {
	margin-bottom: 2rem;
	font-size: 1rem;
	line-height: 1.2;
}

/* button {
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	border: 2px solid #000;
	color: #ffffff;
	background: #222;
	cursor: pointer;
	border-radius: 40px;
} */

button:hover {
	background: #fff;
	color: #000;
}

.column-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
	/* background-color: #BBBBBB; */
	background-color: none;
	/* border-top: 6px solid #000000; */
	/* border-right: 6px solid #000000; */
	/* border-bottom: 6px solid #000000; */
	/* border-left: 3px solid #000000; */
}

.hero-image {
	width: 100%;
	height: auto;
	object-fit: contain;
}

@media screen and (max-width: 768px) {
	.hero-container {
		grid-template-columns: 1fr;
	}
}

.image_one {
	width:500px;
	height:auto;
	/* border:5px solid #500000; */
	border: 5px solid #000
}

.projects-preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0rem 2rem;
	font-size: 1rem;
	/* color: #FFF;
	text-shadow: 
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; */
	color: #000;
}
.list-item {
	max-width: 90%;
	display: block;
	margin: 1rem auto;
	border: 5px solid black;
	/* background: #333355; */
	/* background-image: linear-gradient(#606060, #909090, #606060); */
	/* background-image: linear-gradient(#B0B0B0, #808080); */
	/* background-image: linear-gradient(#757575, #505050); */
	/* background: #CCFFCC; */
	background: #EEEEEE;
	/* color: white; */
	/* color: #FFFFFF; */
	color: #000;
	padding: 1rem;
}
.list-item ul {
	margin: 0;
	padding: 0 1rem;
	list-style-position: inside;
}
.list-item img {
	max-width: 80%;
	display: block;
	margin: 1rem auto;
	/* padding: 1rem 0; */
	border: 5px solid #000;
	padding: 0;
}
h2 {
	padding: 0 0 1rem;
	/* color: #990000; */
	/* color: #FF0000; */
	/* color: #777777; */
	/* color: #FFFFFF;
	text-shadow: 
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; */
	color: #000;
}
/* .blog-link a {
	color: #000;
} */
.blog-link a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: linear-gradient(to right, #101010, #303030);
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	transition: background 0.3s ease;
}
.blog-link a:hover {
	background: linear-gradient(to right, #202020, #404040);
	color: #FFF;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-intro {
	padding: 1rem 2rem;
	text-align: center;
	/* color: white; */
	color: #000;
}
.project-intro h1 {
	/* color: red; */
	color: #000;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	/* text-shadow: 
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; */
}
h1 {
	/* color: red; */
	/* color: #FFFFFF;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; */
	color: #000;
	text-align: center;
	padding-top: 1rem;
}
.index_title {
	padding-bottom: 1rem;
}
.project-page-nav {
	display: flex;
	width: 100%;
	justify-content: center;
	justify-items: center;
	margin-bottom: 1rem;
}
.project-page-nav-button {
	padding: 0.5rem 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border: 2px solid #000;
	font-size: 0.75rem;
	background: #222;
	color: white;
}
.education-nav-buttons {
	display: block;
	width: 100vw;
	text-align: center;
	padding: 0.5rem 1rem;
}
.education-title {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.story-item {
	margin: 2rem 1rem;
	border: 5px solid black;
	/* background: #333355; */
	/* background-image: linear-gradient(#606060, #909090, #606060); */
	/* background-image: linear-gradient(#B0B0B0, #808080); */
	background: #EEEEEE;
	/* color: white; */
	color: #000;
	padding: 1rem;
}
.story-item ul {
	margin: 0;
	padding: 0 1rem;
	list-style-position: inside;
}
.story-item img {
	max-width: 80%;
	display: block;
	margin: 1rem auto;
	/* padding: 1rem 0; */
	border: 5px solid #000;
	padding: 0;
}

body {
	/* background-image: linear-gradient(#101020, #202030); */
	/* background-image: linear-gradient(#404040, #101010); */
	/* background-image: linear-gradient(#99FFFF, #FFBBFF); */
	background-color: #FFFFFF;
	min-height: 100vh;
}

.home-button {
	display: block;
	width: 100vw;
	text-align: center;
	padding: 0.5rem 1rem;
}
/* .home-button button {
	background: #FFF720;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
} */
.projects-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0rem 1rem;
	font-size: 1rem;
	color: #FFF;
}

h3 {
	/* color: #FFF; */
	color: #000;
	font-size: 1.2rem;
	/* text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; */
	padding-left: 1rem;
}

.school-entry {
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.school-entry p {
	/* color: #CCC; */
	color: #000;
	padding-left: 2rem;
}

.school-entry ul {
	list-style: none;
}

.inner-list {
	/* padding-left: 1rem; */
}